<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Codiattis</title>
</head>
<body>

<h1>Members of Codiattis Secret Order</h1>
<p>Hello, <span th:text="${loggedMember}">Member</span></p>

<h2>List of all members</h2>

<table>
    <tr>
        <th>Id</th>
        <th>Username</th>
        <th>Authorities</th>
    </tr>
    <tr th:each="member : ${members}">
        <td th:text="${member.id}">1</td>
        <td th:text="${member.username}">Pepe</td>
        <td th:text="${member.authorities}">user</td>
    </tr>
</table>

<th:block th:if="${isAdmin}">
    <h2>Add new member</h2>
    <form method="post" th:action="@{/}" th:object="${member}">
        <label>Username</label><br/>
        <input required="required" th:field="*{username}" type="text"/><br/>
        <label>Password</label><br/>
        <input required="required" th:field="*{password}" type="password"/><br/>
        <button>Create</button>

        <br/><br/>
        <p th:errors="*{all}" th:if="${#fields.hasErrors('all')}">Incorrect date</p>
    </form>
</th:block>

<br>
<br>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
</body>
</html>