<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Morse</title>

    <meta charset="UTF-8"/>

    <link media="all" rel="stylesheet" th:href="@{/css/style.css}" type="text/css"/>

</head>
<body>

<h1>Welcome Morse Encoder</h1>

<form method="post" th:action="@{/}" th:object="${plaintext}">
    <p><i>Please write your message to encode</i></p><br>
    <input th:field="*{text}" type="text"/>
    <button type="submit">Encode message</button>
</form>

<h2>Encoded message: <span th:text="${plaintext.text}">Message that you sent</span></h2>

</body>
</html>